.AutoCompleteText{
    width: 95%;
    height:35px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #9d9d9d;
    .search-bar{
        display: flex;
        
    }
}

.AutoCompleteText input{
    width: 100%;
    border: none;
    height:35px;
    border-radius: 3px;
    border:0.5px solid lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.73);
    box-sizing: border-box;
    padding-left: 12px;
    outline: none;
    -webkit-box-shadow:0 4px 20px 0 rgb(201, 201, 201), 0 7px 10px -5px rgb(255, 255, 255);
    -moz-box-shadow:0 4px 20px 0 rgb(201, 201, 201), 0 7px 10px -5px rgb(255, 255, 255);
    box-shadow:0 4px 20px 0 rgb(201, 201, 201), 0 7px 10px -5px rgb(255, 255, 255);
}
input[type="text"]
{
    font-size:17px;
}

.AutoCompleteText input:focus{
    background-color:#ebebeb61
}

.AutoCompleteText ul{
    list-style-type: none;
    text-align:left;
    width: 99.8%;
    border:0.3px solid lightgrey;
    font-size: 16px;
    height: 180px;
    overflow-y: auto;
    border-radius: 3px;
    margin:0;
    padding: 0;
    -webkit-box-shadow:0 4px 20px 0 rgb(201, 201, 201), 0 7px 10px -5px rgb(255, 255, 255);
    -moz-box-shadow:0 4px 20px 0 rgb(201, 201, 201), 0 7px 10px -5px rgb(255, 255, 255);
    box-shadow:0 4px 20px 0 rgb(201, 201, 201), 0 7px 10px -5px rgb(255, 255, 255);
}

.AutoCompleteText ul::before{
    content: '';
}

.AutoCompleteText li{
    padding: 10px 12px;
    cursor: pointer;
}

.AutoCompleteText li:hover{
    background-color: lightgrey;
}



/* width */
.AutoCompleteText ul::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  .AutoCompleteText ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgrey; 
    border-radius: 2px;
  }
   
  /* Handle */
  .AutoCompleteText ul::-webkit-scrollbar-thumb {
    background: silver; 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  .AutoCompleteText ul::-webkit-scrollbar-thumb:hover {
    background:silver; 
  }

  .highlight{
      color:black;
  }